.img {
    width: 400px;
}

.buttonOver {
	border-radius: 20px;
	border: 1px solid lightcoral;
	background-color: red;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	cursor: pointer;
    margin-top: 20px;
}